<section id="main-content" class=" ">
     <section class="wrapper main-wrapper row" style=''>

          <div class='col-12'>
               <div class="page-title">

                    <div class="float-left">
                         <!-- PAGE HEADING TAG - START --><h1 class="title">Edit Order</h1><!-- PAGE HEADING TAG - END -->
                    </div>

                    <div class="float-right d-none">
                         <ol class="breadcrumb">
                              <li>
                                   <a href="index.html"><i class="fa fa-home"></i>Home</a>
                              </li>
                              <li>
                                   <a href="eco-orders.html">Orders</a>
                              </li>
                              <li class="active">
                                   <strong>Edit Order</strong>
                              </li>
                         </ol>
                    </div>

               </div>
          </div>
          <div class="clearfix"></div>
          <!-- MAIN CONTENT AREA STARTS -->
          <div class="col-12">
               <section class="box ">
                    <header class="panel_header">
                         <h2 class="title float-left">Basic Info</h2>
                         <div class="actions panel_actions float-right">
                              <a class="box_toggle fa fa-chevron-down"></a>
                              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                              <a class="box_close fa fa-times"></a>
                         </div>
                    </header>
                    <div class="content-body">
                         <div class="row">
                              <form action="#" method="post">
                                   <div class="col-12 col-md-9 col-lg-8">
                                        <div class="form-group">
                                             <label class="form-label" for="field-11476371970">Order ID</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="12345-3434" class="form-control" id="field-11476371970">
                                             </div>
                                        </div>


                                        <div class="form-group">
                                             <label class="form-label">Date of Order</label>
                                             <span class="desc">e.g. "04/03/2015"</span>
                                             <div class="controls">
                                                  <input type="text" value="05/02/2015" class="form-control datepicker" data-format="mm/dd/yyyy">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label">Order Status</label>
                                             <span class="desc"></span>
                                             <select class="form-control">
                                                  <option value="v"></option>
                                                  <option value="v" selected='selected'>New</option>
                                                  <option value="v">Pending</option>
                                                  <option value="v">Delivered</option>
                                             </select>
                                        </div>
                                        <div class="form-group">
                                             <label class="form-label" for="field-11791831400">Customer</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="John Doe" class="form-control" id="field-11791831400">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label">Payment Type</label>
                                             <span class="desc"></span>
                                             <select class="form-control">
                                                  <option value="v"></option>
                                                  <option value="v" selected='selected'>Paypal</option>
                                                  <option value="v" selected='selected'>Credit Card</option>
                                                  <option value="v" selected='selected'>Cash on Delivery</option>
                                                  <option value="v" selected='selected'>Cheque</option>
                                             </select>
                                        </div>
                                        <div class="form-group">
                                             <label class="form-label" for="field-11061927624">Vendor</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="Rocket Consulting Inc." class="form-control" id="field-11061927624">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label" for="field-11090826190">Product</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="T-shirt" class="form-control" id="field-11090826190">
                                             </div>
                                        </div>


                                        <div class="form-group">
                                             <label class="form-label">Date of Approval</label>
                                             <span class="desc">e.g. "04/03/2015"</span>
                                             <div class="controls">
                                                  <input type="text" value="03/11/2015" class="form-control datepicker" data-format="mm/dd/yyyy">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label" for="field-11476694725">Amount Price</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="$100.00" class="form-control" id="field-11476694725">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label" for="field-1787634639">Tax</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="$10.00" class="form-control" id="field-1787634639">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label" for="field-11437651593">Discount</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="$10.00" class="form-control" id="field-11437651593">
                                             </div>
                                        </div>


                                        <div class="form-group">
                                             <label class="form-label">Description</label>
                                             <span class="desc">e.g. "Enter any size of text description here"</span>
                                             <div class="controls">
                                                  <textarea class="form-control autogrow" cols="5"></textarea>
                                             </div>
                                        </div>


                                        <div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
                                             <div class="text-left">
                                                  <button type="button" class="btn btn-primary">Save</button>
                                                  <button type="button" class="btn">Cancel</button>
                                             </div>
                                        </div>
                              </form>
                         </div>


                    </div>
               </section>
          </div>



          <!-- MAIN CONTENT AREA ENDS -->
     </section>
</section>