<section id="main-content" class=" ">
     <section class="wrapper main-wrapper row" style=''>

          <div class='col-12'>
               <div class="page-title">

                    <div class="float-left">
                         <!-- PAGE HEADING TAG - START --><h1 class="title">Products</h1><!-- PAGE HEADING TAG - END -->
                    </div>

                    <div class="float-right d-none">
                         <ol class="breadcrumb">
                              <li>
                                   <a href="index.html"><i class="fa fa-home"></i>Home</a>
                              </li>
                              <li>
                                   <a href="eco-products.html">Products</a>
                              </li>
                              <li class="active">
                                   <strong>All Products</strong>
                              </li>
                         </ol>
                    </div>

               </div>
          </div>
          <div class="clearfix"></div>
          <!-- MAIN CONTENT AREA STARTS -->

          <div class="col-xl-12">
               <section class="box nobox ">
                    <div class="content-body">
                         <div class="row">

                              <div class="col-lg-9 col-md-12 col-12">

                                   <div class="input-group primary">
                                        <span class="input-group-addon">
                                             <span class="arrow"></span>
                                             <i class="fa fa-search"></i>
                                        </span>
                                        <input type="text" class="form-control search-page-input" placeholder="Search Products" value="">
                                   </div><br>
                              </div>

                              <div class="tab-content float-left vertical col-xl-10 col-lg-10 col-md-3 col-3  left-aligned">
                                   <div class="tab-pane fade show active" id="all-1">

                                        <div class="row">


                                             <div class="col-xl-3 col-md-6 col-lg-4 ecommerce_product">
                                                  <div class="team-member ">
                                                       <div class="team-img thumb ">
                                                            <img class="img-fluid" src="~/Content/data/eco-products/product-22.jpg" alt="">
                                                            <div class="overlay">
                                                                 <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                            </div>
                                                       </div>
                                                       <div class="team-info ">
                                                            <h4><a href="#">Portable Sound ...</a></h4>
                                                            <span>$887.41</span>
                                                       </div>

                                                       <p>
                                                  </div>
                                             </div>


                                             <div class="col-xl-3 col-md-6 col-lg-4 ecommerce_product">
                                                  <div class="team-member ">
                                                       <div class="team-img thumb ">
                                                            <img class="img-fluid" src="~/Content/data/eco-products/product-23.jpg" alt="">
                                                            <div class="overlay">
                                                                 <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                            </div>
                                                       </div>
                                                       <div class="team-info ">
                                                            <h4><a href="#">HP Spectre XT P...</a></h4>
                                                            <span>$498.54</span>
                                                       </div>

                                                       <p>
                                                  </div>
                                             </div>


                                             <div class="col-xl-3 col-md-6 col-lg-4 ecommerce_product">
                                                  <div class="team-member ">
                                                       <div class="team-img thumb ">
                                                            <img class="img-fluid" src="~/Content/data/eco-products/product-24.jpg" alt="">
                                                            <div class="overlay">
                                                                 <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                            </div>
                                                       </div>
                                                       <div class="team-info ">
                                                            <h4><a href="#">Elegant Gemston...</a></h4>
                                                            <span>$511.07</span>
                                                       </div>

                                                       <p>
                                                  </div>
                                             </div>


                                             <div class="col-xl-3 col-md-6 col-lg-4 ecommerce_product">
                                                  <div class="team-member ">
                                                       <div class="team-img thumb ">
                                                            <img class="img-fluid" src="~/Content/data/eco-products/product-25.jpg" alt="">
                                                            <div class="overlay">
                                                                 <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                            </div>
                                                       </div>
                                                       <div class="team-info ">
                                                            <h4><a href="#">Digital Storm P...</a></h4>
                                                            <span>$776.47</span>
                                                       </div>

                                                       <p>
                                                  </div>
                                             </div>
                                        </div>

                                   </div>
                                   <div class="tab-pane fade" id="Electronics-1">

                                        <p class="col-lg-12">Electronics Search Results</p>

                                   </div>
                                   <div class="tab-pane fade" id="shoes-1">

                                        <p class="col-lg-12">Shoes Search Results</p>

                                   </div>
                                   <div class="tab-pane fade" id="clothes-1">

                                        <p>Clothes Search Results</p>


                                   </div>

                                   <div class="tab-pane fade" id="mobile-1">
                                        <p>Mobile Search Results</p>

                                   </div>

                                   <div class="tab-pane fade" id="laptops-1">
                                        <p>Laptops Search Results</p>
                                   </div>
                                   <div class="tab-pane fade" id="accessories-1">
                                        <p>Accessories Search Results</p>
                                   </div>
                                   <div class="tab-pane fade" id="hardware-1">
                                        <p>Hardware Search Results</p>
                                   </div>
                                   <div class="tab-pane fade" id="tools-1">
                                        <p>Tools Search Results</p>
                                   </div>
                                   <div class="tab-pane fade" id="software-1">
                                        <p>Software Search Results</p>
                                   </div>



                              </div>








                         </div>
                    </div>
          </div>
     </section></div>

     <!-- MAIN CONTENT AREA ENDS -->
</section>
            </section>