<section id="main-content" class=" ">
     <section class="wrapper main-wrapper row" style=''>

          <div class='col-12'>
               <div class="page-title">

                    <div class="float-left">
                         <!-- PAGE HEADING TAG - START --><h1 class="title">Add a Order</h1><!-- PAGE HEADING TAG - END -->
                    </div>

                    <div class="float-right d-none">
                         <ol class="breadcrumb">
                              <li>
                                   <a href="index.html"><i class="fa fa-home"></i>Home</a>
                              </li>
                              <li>
                                   <a href="eco-orders.html">Orders</a>
                              </li>
                              <li class="active">
                                   <strong>Add Order</strong>
                              </li>
                         </ol>
                    </div>

               </div>
          </div>
          <div class="clearfix"></div>
          <!-- MAIN CONTENT AREA STARTS -->

          <div class="col-xl-12">
               <section class="box ">
                    <header class="panel_header">
                         <h2 class="title float-left">All Orders</h2>
                         <div class="actions panel_actions float-right">
                              <a class="box_toggle fa fa-chevron-down"></a>
                              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                              <a class="box_close fa fa-times"></a>
                         </div>
                    </header>
                    <div class="content-body">
                         <div class="row">
                              <div class="col-12">


                                   <!-- ********************************************** -->


                                   <table id="example-11" class="display table table-hover table-condensed" cellspacing="0" width="100%">
                                        <thead>
                                             <tr>
                                                  <th>Order Number</th>
                                                  <th>Product</th>
                                                  <th>Customer</th>
                                                  <th>Vendor</th>
                                                  <th>Date</th>
                                                  <th>Price</th>
                                                  <th>Status</th>
                                             </tr>
                                        </thead>

                                        <tbody>
                                             <tr><td>0220-9068</td><td>Leica T Mirrorless Digital Camera</td><td>Howard Foster</td><td>Nicole Ramos</td><td>11/10/2015</td><td>$288.05</td><td>New</td></tr>
                                             <tr><td>29300-187</td><td>Nikon D5500 DSLR - Black</td><td>Norma Torres</td><td>Louis Hall</td><td>2/25/2015</td><td>$191.92</td><td>Pending</td></tr>
                                             <tr><td>65044-1006</td><td>Night Visions</td><td>Willie Evans</td><td>Chris Dean</td><td>3/22/2015</td><td>$357.25</td><td>New</td></tr>
                                        </tbody>
                                   </table>
                                   <!-- ********************************************** -->




                              </div>
                         </div>
                    </div>
               </section>
          </div>






          <!-- MAIN CONTENT AREA ENDS -->
     </section>
</section>