<!--====== Required meta tags ======-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--====== Title ======-->
<title>B&I - Personal Portfolio</title>

<!--====== Favicon Icon ======-->
<link rel="shortcut icon" href="~/Content/assets/images/favicon.png" type="image/png">

<!--====== Bootstrap css ======-->
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">

<!--====== Line Icons css ======-->
<link rel="stylesheet" href="~/Content/assets/css/LineIcons.css">

<!--====== Magnific Popup css ======-->
<link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">

<!--====== Default css ======-->
<link rel="stylesheet" href="~/Content/assets/css/default.css">

<!--====== Style css ======-->
<link rel="stylesheet" href="~/Content/assets/css/style.css">

